<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="T4Editor.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <T4Editor.Settings>
            <setting name="ControlBlockColor" serializeAs="String">
                <value>	#FFEBCD</value>
            </setting>
            <setting name="InjectedColor" serializeAs="String">
                <value>#DAA520</value>
            </setting>
            <setting name="ClassFeatureBlockColor" serializeAs="String">
                <value>#DEB887</value>
            </setting>
            <setting name="DirectiveColor" serializeAs="String">
                <value>#C0C0C0</value>
            </setting>
            <setting name="OutputColor" serializeAs="String">
                <value>#FFFFFF</value>
            </setting>
            <setting name="TagBackground" serializeAs="String">
                <value>#FFFAFAD2</value>
            </setting>
            <setting name="TagColor" serializeAs="String">
                <value>#FF000000</value>
            </setting>
            <setting name="FirstInstall" serializeAs="String">
                <value>True</value>
            </setting>
        </T4Editor.Settings>
    </userSettings>
</configuration>